@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin desktop-screen {
  @media screen and (min-width: 1439.9px) {
    @content;
  }
}
